  <MudNavLink Href="home" Match="NavLinkMatch.All" Class="mud-navlink">
    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
  </MudNavLink>
  <MudNavLink Href="/game" Class="mud-navlink">
    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Partie en cours
  </MudNavLink>
