<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
  <link href="_Content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="./bootstrap/bootstrap.min.css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="icon" type="image/png" href="~/img/General/gh.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
  <script src="_Content/MudBlazor/MudBlazor.min.js"></script>
</body>

</html>
