@page "/"
@rendermode InteractiveServer
@inject AppState AppState

<PageTitle>Partie en cours</PageTitle>

<MudGrid>
  <MudItem xs="12">
    <MudPaper class="p-4 mb-4">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex flex-column align-items-start">
          <RoundComponent Round="@AppState.Round" OnNextRound="NextRound" />
        </div>
        <div class="d-flex">
          <ElementComponent OnUseElement="@((id) => UseElement(id))"
                            OnSetElementStrong="@((id) => SetElementStrong(id))" />
        </div>
      </div>
    </MudPaper>
  </MudItem>

  <MudItem xs="12">

    <DeckComponent DeckName="MonsterDeck" />
  </MudItem>
</MudGrid>