@using GloomhavenCompanion.ViewModels
@inject AppState AppState

<MudPaper class="p-4 mb-4">
  <h4>@Player.Name</h4>
  <MudNumericField @bind-Value="Player.HealthPoints"
                   Label="HP"
                   Immediate="true"
                   OnValueChanged="OnHPChanged" />
  <MudNumericField @bind-Value="Player.Xp"
                   Label="XP"
                   Immediate="true"
                   OnValueChanged="OnXPChanged" />
  <MudNumericField @bind-Value="Player.Coins"
                   Label="PO"
                   Immediate="true"
                   OnValueChanged="OnGoldChanged" />
</MudPaper>


@code {
  [Parameter] public PlayerViewModel Player { get; set; }

  private void OnXPChanged(int newValue)
  {
    Player.Xp = newValue;
    AppState.UpdatePlayer(Player);
  }

  private void OnGoldChanged(int newValue)
  {
    Player.Coins = newValue;
    AppState.UpdatePlayer(Player);
  }

  private void OnHPChanged(int newValue)
  {
    Player.HealthPoints = newValue;
    AppState.UpdatePlayer(Player);
  }
}
